body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #ffffff;
}

.background_container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button_container, .search_container {
  margin: 20px;
}

.button_container button, .search_container button {
  background-color: #6200ea;
  border: none;
  color: white;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.button_container button:hover, .search_container button:hover {
  background-color: #3700b3;
}

.search_container input {
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #6200ea;
  font-size: 16px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie_item {
  background-color: #1e1e1e;
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease;
}

.movie_item:hover {
  transform: translateY(-10px);
}

.movie_item img {
  width: max-content;
  height: auto;
}

.movie_name {
  padding: 10px;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
}
